In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('crop_data.csv')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 246091 entries, 0 to 246090
Data columns (total 10 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   State_Name                     246091 non-null  object
 1   District_Name                  246091 non-null  object
 2   Crop_Year                      246091 non-null  int64
 3   Season                         246091 non-null  object
 4   Crop                           246091 non-null  object
 5   Area                           246091 non-null  float64
 6   Production                     242361 non-null  float64
 7   avg_temp                       28242 non-null   float64
 8   average_rain_fall_mm_per_year  28242 non-null   float64
 9   pesticides_tonnes              28242 non-null   float64
dtypes: float64(5), int64(1), object(4)
memory usage: 18.8+ MB

In [9]:
df = df.dropna(subset = ['avg_temp','average_rain_fall_mm_per_year','pesticides_tonnes'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28242 entries, 0 to 28241
Data columns (total 10 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State_Name                     28242 non-null  object
 1   District_Name                  28242 non-null  object
 2   Crop_Year                      28242 non-null  int64
 3   Season                         28242 non-null  object
 4   Crop                           28242 non-null  object
 5   Area                           28242 non-null  float64
 6   Production                     28165 non-null  float64
 7   avg_temp                       28242 non-null  float64
 8   average_rain_fall_mm_per_year  28242 non-null  float64
 9   pesticides_tonnes              28242 non-null  float64
dtypes: float64(5), int64(1), object(4)
memory usage: 2.4+ MB

In [14]:
df.isnull().sum()

State_Name                       0
District_Name                    0
Crop_Year                        0
Season                           0
Crop                             0
Area                             0
Production                       0
avg_temp                         0
average_rain_fall_mm_per_year    0
pesticides_tonnes                0
dtype: int64

In [13]:
df = df[df['Production'] > 0]
df = df[df['Area'] > 0]
print("Remaining rows after filtering invalid production/area:", df.shape[0])

Remaining rows after filtering invalid production/area: 28061

In [15]:
df['Yield'] = df['Production'] / df['Area']

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 28061 entries, 0 to 28241
Data columns (total 11 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   State_Name                     28061 non-null  object
 1   District_Name                  28061 non-null  object
 2   Crop_Year                      28061 non-null  int64
 3   Season                         28061 non-null  object
 4   Crop                           28061 non-null  object
 5   Area                           28061 non-null  float64
 6   Production                     28061 non-null  float64
 7   avg_temp                       28061 non-null  float64
 8   average_rain_fall_mm_per_year  28061 non-null  float64
 9   pesticides_tonnes              28061 non-null  float64
 10  Yield                          28061 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 2.6+ MB

In [20]:
from sklearn.preprocessing import LabelEncoder
label_cols = ['State_Name' , 'District_Name' , 'Season' , 'Crop']
le = LabelEncoder()

for col in label_cols:
    df[col] = le.fit_transform(df[col]) # 'State_Name' , 'District_Name' , 'Season' , 'Crop', these are 4 columl which has strings but python linraries which is used in ml doesnot understant string its only understood numerical values,

In [23]:
df['Season']   # Just an example

0        1
1        1
2        1
3        4
4        4
        ..
28237    5
28238    0
28239    1
28240    1
28241    1
Name: Season, Length: 28061, dtype: int32